body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 50px;
}
.my-name{
    color: orange;
}
.top-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-half img{
    width: 100%;
}